# ***Bangladeshi Students Survey***
*Online Survey Data of Bangladeshi Students*

### *Importing Libraries*

In [28]:
# importing libraries
import pandas as pd # data processing
import numpy as np # linear algebra
import matplotlib.pyplot as plt # visualization
%matplotlib inline

import seaborn as sns
# increases the size of sns plots
sns.set(rc={'figure.figsize':(8,6)})

### *Read Data*

In [12]:
# raw data in panda dataframe
df = pd.read_csv('/content/Online Survey Data on Education Bd.csv')
print('Data Frame Shape: \n{}'.format(df.shape))
# shows five instances of the dataframe
df.head()

Data Frame Shape:
(8783, 17)

,Level of study?,Age?,Used smartphone/computer/laptop previously before online class?,Result increased after online education (comparatively)?,Knowledge increased after online education (comparatively)?,Happy with online education?,Education Institute Area?,Have Internet availability?,Broadband / Mobile Internet?,Total hours of study before online education?,Total hours of study after online education?,Class performance increased in online education?,Institute Type,Current location (During Study) ?,Gender,Faced any issue with online class?,Preferred device for an online course
0,Upto HSC,20.0,Yes,No,Yes,No,Urban,No,Broadband,4,3,No,Public,Rural,Male,Yes,Mobile
1,Hons or Grater,25.0,No,No,No,No,Urban,No,Mobile Internet,4,4,No,Public,Rural,Male,Yes,Mobile
2,Hons or Grater,25.0,Yes,Yes,Yes,Yes,Rural,No,Mobile Internet,5,2,Yes,Public,Rural,Female,Yes,Computer
3,Upto HSC,21.0,Yes,Yes,No,Yes,Urban,Yes,Mobile Internet,5,3,No,Private,Urban,Male,Yes,Mobile
4,Hons or Grater,22.0,Yes,No,No,No,Rural,No,Mobile Internet,4,2,Yes,Public,Urban,Male,No,Mobile

### *Data Pre-processing*

In [16]:
df.columns

Index(['Level of study?', 'Age?',
       'Used smartphone/computer/laptop previously before online class?',
       'Result increased after online education  (comparatively)?',
       'Knowledge increased after online education (comparatively)?',
       'Happy with online education?', 'Education Institute Area?',
       'Have Internet availability?', 'Broadband / Mobile Internet?',
       'Total hours of study before online education?',
       'Total hours of study after online education?',
       'Class performance increased in online education?', 'Institute Type',
       'Current location (During Study) ?', 'Gender',
       'Faced any issue with online class?',
       'Preferred device for an online course'],
      dtype='object')

In [18]:
# investigating all the elements whithin each Feature
for column in df:
  unique_vals = df[column].unique()
  nr_values = len(unique_vals)
  
  if nr_values < 10:
    print('The number of values for feature {} :{} -- {}'.format(column, nr_values,unique_vals))
  else:
    print('The number of values for feature {} :{}'.format(column, nr_values))

The number of values for feature Level of study? :2 -- ['Upto HSC' 'Hons or Grater']
The number of values for feature Age? :12
The number of values for feature Used smartphone/computer/laptop previously before online class? :3 -- ['Yes' 'No' nan]
The number of values for feature Result increased after online education  (comparatively)? :3 -- ['No' 'Yes' nan]
The number of values for feature Knowledge increased after online education (comparatively)? :2 -- ['Yes' 'No']
The number of values for feature Happy with online education? :2 -- ['No' 'Yes']
The number of values for feature Education Institute Area? :3 -- ['Urban' 'Rural' nan]
The number of values for feature Have Internet availability? :2 -- ['No' 'Yes']
The number of values for feature Broadband / Mobile Internet? :2 -- ['Broadband' 'Mobile Internet']
The number of values for feature Total hours of study before online education? :4 -- [4 5 3 6]
The number of values for feature Total hours of study after online education? :3 -- [3 4 2]
The number of values for feature Class performance increased in online education? :2 -- ['No' 'Yes']
The number of values for feature Institute Type :3 -- ['Public' 'Private' nan]
The number of values for feature Current location (During Study) ? :3 -- ['Rural' 'Urban' nan]
The number of values for feature Gender :3 -- ['Male' 'Female' nan]
The number of values for feature Faced any issue with online class? :3 -- ['Yes' 'No' nan]
The number of values for feature Preferred device for an online course :2 -- ['Mobile' 'Computer']

In [27]:
# checking for the null values
df.isnull().sum()

Level of study?                                                      0
Age?                                                               445
Used smartphone/computer/laptop previously before online class?    188
Result increased after online education  (comparatively)?          323
Knowledge increased after online education (comparatively)?          0
Happy with online education?                                         0
Education Institute Area?                                          529
Have Internet availability?                                          0
Broadband / Mobile Internet?                                         0
Total hours of study before online education?                        0
Total hours of study after online education?                         0
Class performance increased in online education?                     0
Institute Type                                                     726
Current location (During Study) ?                                  726
Gender                                                             676
Faced any issue with online class?                                 701
Preferred device for an online course                                0
dtype: int64